
<% layout ("/layouts/boilerplate") %>
 <body>
    <div class="row"> 
      <div class="col-6 offset-3"> 
         <h3>Create a New Listing</h3>
         <br><br>
         <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data"> 

             <div class="mb-3">
                <label for="title">Title</label>
                <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
                <div class="valid-feedback">Title looks good</div>
                <div class="invalid-feedback">Enter valid title</div>
             </div>

             <div class="mb-3">
                <label for="description"  >Description</label>
                <textarea name="listing[description]" class="form-control"></textarea>
                <div class="invalid-feedback">Enter valid description</div>
             </div>
         
              <div class="mb-3">
                <label for="image">Upload Listing Image</label>
                <input name="listing[image]" type="file" class="form-control" required>
                <div class="invalid-feedback">Enter valid image URL</div>
              </div>

        
              <div class="mb-3 col-md-6">
                <label for="price" class="form-lable" >Price</label>
                <input name="listing[price]" placeholder="1200" class="form-control" required >
                <div class="invalid-feedback">Enter valid price</div>
              </div>
          
              <div class="mb-3 col-md-6">
                <label for="country"  >Country</label>
                <input name="listing[country]" placeholder="India" type="text" class="form-control"  >
                <div class="invalid-feedback">Enter valid country name</div>
              </div>

              <div class="mb-3">
                <label for="location"  >Location</label>
                <input name="listing[location]" placeholder="Nagpur, Maharashtra" type="text" class="form-control"  >
                <div class="invalid-feedback">Enter valid location </div>
              </div>
       
             <br><br>

             <button class="btn btn-dark add-btn "> Add </button>

             <br><br>
        </form>
     </div>
  </div>
</body>
 