<%  layout("/layouts/boilerplate") %> 

<div class="row mt-3">
  <h1 class="text-center">SignUp </h1>
  <div class="col-6 offset-3">
    <form  action="/signup" method="POST" class="needs-validation" novalidate>
        <div class="form-group mb-3">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter a username.
            </div>
        </div>
    
        <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <div class="valid-feedback">
             Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter a valid email address.
            </div>
        </div>
    
        <div class="form-group mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
               Please enter a password.
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
    </form>
  </div>
</div>